package org.openapi.quarkus.swagger_json.api;


import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider; 
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.openapi.quarkus.swagger_json.api.auth.CompositeAuthenticationProvider;
import org.openapi.quarkus.swagger_json.api.auth.AuthenticationPropagationHeadersFactory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

import jakarta.enterprise.context.ApplicationScoped;

import io.quarkiverse.openapi.generator.annotations.GeneratedClass;
import io.quarkiverse.openapi.generator.annotations.GeneratedMethod;
import io.quarkiverse.openapi.generator.annotations.GeneratedParam;

/**
  * Ansible Automation Platform controller API
  * <p/>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
  */
@Path("/api/v2/dashboard")
@RegisterRestClient(baseUri="https://null/", configKey="swagger_json")
@GeneratedClass(value="swagger.json", tag = "Dashboard")
@RegisterProvider(CompositeAuthenticationProvider.class)
@RegisterClientHeaders(AuthenticationPropagationHeadersFactory.class)
@ApplicationScoped
public interface DashboardApi {

    /**
     *  View Statistics for Job Runs
     *
     *  Make a GET request to this resource to retrieve aggregate statistics about job runs suitable for graphing.  ## Parameters and Filtering  The `period` of the data can be adjusted with:      ?period=month  Where `month` can be replaced with `week`, `two_weeks`, or `day`.  `month` is the default.  The type of job can be filtered with:      ?job_type=all  Where `all` can be replaced with `inv_sync`, `playbook_run` or `scm_update`.  `all` is the default.  ## Results  Data will be returned in the following format:      \"jobs\": {             \"successful\": [                 [                     1402808400.0,                      9                 ], ... ],             \"failed\": [              [                     1402808400.0,                      3                 ], ... ]     }  Each element contains an epoch timestamp represented in seconds and a numerical value indicating the number of events during that time period
     *
     */
    @GET
    @Path("/graphs/jobs/")
    @GeneratedMethod ("Dashboard_dashboard_graphs_jobs_list")
    public void dashboardDashboardGraphsJobsList(
    );

    /**
     * Show Dashboard Details
     *
     */
    @GET
    @GeneratedMethod ("Dashboard_dashboard_list")
    public void dashboardDashboardList(
    );

}
