package org.openapi.quarkus.swagger_json.api;

import org.openapi.quarkus.swagger_json.model.CredentialsCredentialsCopyCreateRequest;
import org.openapi.quarkus.swagger_json.model.ExecutionEnvironmentsExecutionEnvironmentsCreateRequest;
import org.openapi.quarkus.swagger_json.model.ExecutionEnvironmentsExecutionEnvironmentsPartialUpdateRequest;

import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider; 
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.openapi.quarkus.swagger_json.api.auth.CompositeAuthenticationProvider;
import org.openapi.quarkus.swagger_json.api.auth.AuthenticationPropagationHeadersFactory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

import jakarta.enterprise.context.ApplicationScoped;

import io.quarkiverse.openapi.generator.annotations.GeneratedClass;
import io.quarkiverse.openapi.generator.annotations.GeneratedMethod;
import io.quarkiverse.openapi.generator.annotations.GeneratedParam;

/**
  * Ansible Automation Platform controller API
  * <p/>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
  */
@Path("/api/v2/execution_environments")
@RegisterRestClient(baseUri="https://null/", configKey="swagger_json")
@GeneratedClass(value="swagger.json", tag = "ExecutionEnvironments")
@RegisterProvider(CompositeAuthenticationProvider.class)
@RegisterClientHeaders(AuthenticationPropagationHeadersFactory.class)
@ApplicationScoped
public interface ExecutionEnvironmentsApi {

    /**
     *  List Activity Streams for an Execution Environment
     *
     *  Make a GET request to this resource to retrieve a list of activity streams associated with the selected execution environment.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of activity streams found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more activity stream records.    ## Results  Each activity stream data structure includes the following fields:  * `id`: Database ID for this activity stream. (integer) * `type`: Data type for this activity stream. (choice) * `url`: URL for this activity stream. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `timestamp`:  (datetime) * `operation`: The action taken with respect to the given object(s). (choice)     - `create`: Entity Created     - `update`: Entity Updated     - `delete`: Entity Deleted     - `associate`: Entity Associated with another Entity     - `disassociate`: Entity was Disassociated with another Entity * `changes`: A summary of the new and changed values when an object is created, updated, or deleted (json) * `object1`: For create, update, and delete events this is the object type that was affected. For associate and disassociate events this is the object type associated or disassociated with object2. (string) * `object2`: Unpopulated for create, update, and delete events. For associate and disassociate events this is the object type that object1 is being associated with. (string) * `object_association`: When present, shows the field name of the role or relationship that changed. (field) * `action_node`: The cluster node the activity took place on. (string) * `object_type`: When present, shows the model on which the role or relationship was defined. (field)    ## Sorting  To specify that activity streams are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/activity_stream/")
    @GeneratedMethod ("Execution Environments_execution_environments_activity_stream_list")
    public void executionEnvironmentsExecutionEnvironmentsActivityStreamList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    @POST
    @Path("/{id}/copy/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Execution Environments_execution_environments_copy_create")
    public void executionEnvironmentsExecutionEnvironmentsCopyCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        CredentialsCredentialsCopyCreateRequest data
    );

    @GET
    @Path("/{id}/copy/")
    @GeneratedMethod ("Execution Environments_execution_environments_copy_list")
    public void executionEnvironmentsExecutionEnvironmentsCopyList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create an Execution Environment
     *
     *  Make a POST request to this resource with the following execution environment fields to create a new execution environment:          * `name`: Name of this execution environment. (string, required) * `description`: Optional description of this execution environment. (string, default=`\"\"`) * `organization`: The organization used to determine access to this execution environment. (id, default=``) * `image`: The full image location, including the container registry, image name, and version tag. (string, required)  * `credential`:  (id, default=``) * `pull`: Pull image before running? (choice)     - `\"\"`: --------- (default)     - `always`: Always pull container before running.     - `missing`: Only pull the image if not present before running.     - `never`: Never pull container before running.
     *
     */
    @POST
    @Consumes({"application/json"})
    @GeneratedMethod ("Execution Environments_execution_environments_create")
    public void executionEnvironmentsExecutionEnvironmentsCreate(
        ExecutionEnvironmentsExecutionEnvironmentsCreateRequest data
    );

    /**
     *  Delete an Execution Environment
     *
     *  Make a DELETE request to this resource to delete this execution environment.
     *
     */
    @DELETE
    @Path("/{id}/")
    @GeneratedMethod ("Execution Environments_execution_environments_delete")
    public void executionEnvironmentsExecutionEnvironmentsDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Execution Environments
     *
     *  Make a GET request to this resource to retrieve the list of execution environments.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of execution environments found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more execution environment records.    ## Results  Each execution environment data structure includes the following fields:  * `id`: Database ID for this execution environment. (integer) * `type`: Data type for this execution environment. (choice) * `url`: URL for this execution environment. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this execution environment was created. (datetime) * `modified`: Timestamp when this execution environment was last modified. (datetime) * `name`: Name of this execution environment. (string) * `description`: Optional description of this execution environment. (string) * `organization`: The organization used to determine access to this execution environment. (id) * `image`: The full image location, including the container registry, image name, and version tag. (string) * `managed`:  (boolean) * `credential`:  (id) * `pull`: Pull image before running? (choice)     - `\"\"`: ---------     - `always`: Always pull container before running.     - `missing`: Only pull the image if not present before running.     - `never`: Never pull container before running.    ## Sorting  To specify that execution environments are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @GeneratedMethod ("Execution Environments_execution_environments_list")
    public void executionEnvironmentsExecutionEnvironmentsList(
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update an Execution Environment
     *
     *  Make a PUT or PATCH request to this resource to update this execution environment.  The following fields may be modified:          * `name`: Name of this execution environment. (string, required) * `description`: Optional description of this execution environment. (string, default=`\"\"`) * `organization`: The organization used to determine access to this execution environment. (id, default=``) * `image`: The full image location, including the container registry, image name, and version tag. (string, required)  * `credential`:  (id, default=``) * `pull`: Pull image before running? (choice)     - `\"\"`: --------- (default)     - `always`: Always pull container before running.     - `missing`: Only pull the image if not present before running.     - `never`: Never pull container before running.         For a PATCH request, include only the fields that are being modified.
     *
     */
    @PATCH
    @Path("/{id}/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Execution Environments_execution_environments_partial_update")
    public void executionEnvironmentsExecutionEnvironmentsPartialUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        ExecutionEnvironmentsExecutionEnvironmentsPartialUpdateRequest data
    );

    /**
     *  Retrieve an Execution Environment
     *
     *  Make GET request to this resource to retrieve a single execution environment record containing the following fields:  * `id`: Database ID for this execution environment. (integer) * `type`: Data type for this execution environment. (choice) * `url`: URL for this execution environment. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this execution environment was created. (datetime) * `modified`: Timestamp when this execution environment was last modified. (datetime) * `name`: Name of this execution environment. (string) * `description`: Optional description of this execution environment. (string) * `organization`: The organization used to determine access to this execution environment. (id) * `image`: The full image location, including the container registry, image name, and version tag. (string) * `managed`:  (boolean) * `credential`:  (id) * `pull`: Pull image before running? (choice)     - `\"\"`: ---------     - `always`: Always pull container before running.     - `missing`: Only pull the image if not present before running.     - `never`: Never pull container before running.
     *
     */
    @GET
    @Path("/{id}/")
    @GeneratedMethod ("Execution Environments_execution_environments_read")
    public void executionEnvironmentsExecutionEnvironmentsRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Unified Job Templates for an Execution Environment
     *
     *  Make a GET request to this resource to retrieve a list of unified job templates associated with the selected execution environment.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of unified job templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more unified job template records.    ## Results  Each unified job template data structure includes the following fields:  * `id`: Database ID for this unified job template. (integer) * `type`: Data type for this unified job template. (choice) * `url`: URL for this unified job template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this unified job template was created. (datetime) * `modified`: Timestamp when this unified job template was last modified. (datetime) * `name`: Name of this unified job template. (string) * `description`: Optional description of this unified job template. (string) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated     - `ok`: OK     - `missing`: Missing     - `none`: No External Source     - `updating`: Updating * `execution_environment`: The container image to be used for execution. (id)    ## Sorting  To specify that unified job templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/unified_job_templates/")
    @GeneratedMethod ("Execution Environments_execution_environments_unified_job_templates_list")
    public void executionEnvironmentsExecutionEnvironmentsUnifiedJobTemplatesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update an Execution Environment
     *
     *  Make a PUT or PATCH request to this resource to update this execution environment.  The following fields may be modified:          * `name`: Name of this execution environment. (string, required) * `description`: Optional description of this execution environment. (string, default=`\"\"`) * `organization`: The organization used to determine access to this execution environment. (id, default=``) * `image`: The full image location, including the container registry, image name, and version tag. (string, required)  * `credential`:  (id, default=``) * `pull`: Pull image before running? (choice)     - `\"\"`: --------- (default)     - `always`: Always pull container before running.     - `missing`: Only pull the image if not present before running.     - `never`: Never pull container before running.       For a PUT request, include **all** fields in the request.
     *
     */
    @PUT
    @Path("/{id}/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Execution Environments_execution_environments_update")
    public void executionEnvironmentsExecutionEnvironmentsUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        ExecutionEnvironmentsExecutionEnvironmentsCreateRequest data
    );

}
