package org.openapi.quarkus.swagger_json.api;

import org.openapi.quarkus.swagger_json.model.CredentialTypesCredentialTypesCredentialsCreateRequest;
import org.openapi.quarkus.swagger_json.model.CredentialsCredentialsCopyCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventoriesInventoriesLabelsCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventorySourcesInventorySourcesSchedulesCreateRequest;
import org.openapi.quarkus.swagger_json.model.JobTemplatesJobTemplatesCreateRequest;
import org.openapi.quarkus.swagger_json.model.JobTemplatesJobTemplatesSliceWorkflowJobsCreateRequest;

import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider; 
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.openapi.quarkus.swagger_json.api.auth.CompositeAuthenticationProvider;
import org.openapi.quarkus.swagger_json.api.auth.AuthenticationPropagationHeadersFactory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

import jakarta.enterprise.context.ApplicationScoped;

import io.quarkiverse.openapi.generator.annotations.GeneratedClass;
import io.quarkiverse.openapi.generator.annotations.GeneratedMethod;
import io.quarkiverse.openapi.generator.annotations.GeneratedParam;

/**
  * Ansible Automation Platform controller API
  * <p/>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
  */
@Path("/api/v2/job_templates")
@RegisterRestClient(baseUri="https://null/", configKey="swagger_json")
@GeneratedClass(value="swagger.json", tag = "JobTemplates")
@RegisterProvider(CompositeAuthenticationProvider.class)
@RegisterClientHeaders(AuthenticationPropagationHeadersFactory.class)
@ApplicationScoped
public interface JobTemplatesApi {

    /**
     *  List Users
     *
     *  Make a GET request to this resource to retrieve the list of users.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of users found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more user records.    ## Results  Each user data structure includes the following fields:  * `id`: Database ID for this user. (integer) * `type`: Data type for this user. (choice) * `url`: URL for this user. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this user was created. (datetime) * `modified`: Timestamp when this user was last modified. (datetime) * `username`: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only. (string) * `first_name`:  (string) * `last_name`:  (string) * `email`:  (string) * `is_superuser`: Designates that this user has all permissions without explicitly assigning them. (boolean) * `is_system_auditor`:  (boolean) * `password`: Field used to change the password. (string) * `ldap_dn`:  (string) * `last_login`:  (datetime) * `external_account`: Set if the account is managed by an external service (field)    ## Sorting  To specify that users are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=username  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-username  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=username,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/access_list/")
    @GeneratedMethod ("Job Templates_job_templates_access_list_list")
    public void jobTemplatesJobTemplatesAccessListList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Activity Streams for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of activity streams associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of activity streams found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more activity stream records.    ## Results  Each activity stream data structure includes the following fields:  * `id`: Database ID for this activity stream. (integer) * `type`: Data type for this activity stream. (choice) * `url`: URL for this activity stream. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `timestamp`:  (datetime) * `operation`: The action taken with respect to the given object(s). (choice)     - `create`: Entity Created     - `update`: Entity Updated     - `delete`: Entity Deleted     - `associate`: Entity Associated with another Entity     - `disassociate`: Entity was Disassociated with another Entity * `changes`: A summary of the new and changed values when an object is created, updated, or deleted (json) * `object1`: For create, update, and delete events this is the object type that was affected. For associate and disassociate events this is the object type associated or disassociated with object2. (string) * `object2`: Unpopulated for create, update, and delete events. For associate and disassociate events this is the object type that object1 is being associated with. (string) * `object_association`: When present, shows the field name of the role or relationship that changed. (field) * `action_node`: The cluster node the activity took place on. (string) * `object_type`: When present, shows the model on which the role or relationship was defined. (field)    ## Sorting  To specify that activity streams are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/activity_stream/")
    @GeneratedMethod ("Job Templates_job_templates_activity_stream_list")
    public void jobTemplatesJobTemplatesActivityStreamList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * The job template callback allows for ephemeral hosts to launch a new job.
     *
     *  Configure a host to POST to this resource, passing the `host_config_key` parameter, to start a new job limited to only the requesting host.  In the examples below, replace the `N` parameter with the `id` of the job template and the `HOST_CONFIG_KEY` with the `host_config_key` associated with the job template.  For example, using curl:      curl -H \"Content-Type: application/json\" -d '{\"host_config_key\": \"HOST_CONFIG_KEY\"}'  http://server/api/v2/job_templates/N/callback/  Or using wget:      wget -O /dev/null --post-data='{\"host_config_key\": \"HOST_CONFIG_KEY\"}' --header=Content-Type:application/json http://server/api/v2/job_templates/N/callback/  You may also pass `extra_vars` to the callback:      curl -H \"Content-Type: application/json\" -d '{\"host_config_key\": \"HOST_CONFIG_KEY\", \"extra_vars\": {\"key\": \"value\"}}'  http://server/api/v2/job_templates/N/callback/      The response will return status 202 if the request is valid, 403 for an invalid host config key, or 400 if the host cannot be determined from the address making the request.  _(New in Ansible Tower 2.0.0)_  If the associated inventory has the `update_on_launch` flag set and if the `update_cache_timeout` has expired, the callback will perform an inventory sync to find a matching host.  A GET request may be used to verify that the correct host will be selected. This request must authenticate as a valid user with permission to edit the job template.  For example:      curl http://user:password@server/api/v2/job_templates/N/callback/  The response will include the host config key as well as the host name(s) that would match the request:      {         \"host_config_key\": \"HOST_CONFIG_KEY\",         \"matching_hosts\": [\"hostname\"]     }
     *
     */
    @POST
    @Path("/{id}/callback/")
    @GeneratedMethod ("Job Templates_job_templates_callback_create")
    public void jobTemplatesJobTemplatesCallbackCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    /**
     * The job template callback allows for ephemeral hosts to launch a new job.
     *
     *  Configure a host to POST to this resource, passing the `host_config_key` parameter, to start a new job limited to only the requesting host.  In the examples below, replace the `N` parameter with the `id` of the job template and the `HOST_CONFIG_KEY` with the `host_config_key` associated with the job template.  For example, using curl:      curl -H \"Content-Type: application/json\" -d '{\"host_config_key\": \"HOST_CONFIG_KEY\"}'  http://server/api/v2/job_templates/N/callback/  Or using wget:      wget -O /dev/null --post-data='{\"host_config_key\": \"HOST_CONFIG_KEY\"}' --header=Content-Type:application/json http://server/api/v2/job_templates/N/callback/  You may also pass `extra_vars` to the callback:      curl -H \"Content-Type: application/json\" -d '{\"host_config_key\": \"HOST_CONFIG_KEY\", \"extra_vars\": {\"key\": \"value\"}}'  http://server/api/v2/job_templates/N/callback/      The response will return status 202 if the request is valid, 403 for an invalid host config key, or 400 if the host cannot be determined from the address making the request.  _(New in Ansible Tower 2.0.0)_  If the associated inventory has the `update_on_launch` flag set and if the `update_cache_timeout` has expired, the callback will perform an inventory sync to find a matching host.  A GET request may be used to verify that the correct host will be selected. This request must authenticate as a valid user with permission to edit the job template.  For example:      curl http://user:password@server/api/v2/job_templates/N/callback/  The response will include the host config key as well as the host name(s) that would match the request:      {         \"host_config_key\": \"HOST_CONFIG_KEY\",         \"matching_hosts\": [\"hostname\"]     }
     *
     */
    @GET
    @Path("/{id}/callback/")
    @GeneratedMethod ("Job Templates_job_templates_callback_list")
    public void jobTemplatesJobTemplatesCallbackList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    @POST
    @Path("/{id}/copy/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_copy_create")
    public void jobTemplatesJobTemplatesCopyCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        CredentialsCredentialsCopyCreateRequest data
    );

    @GET
    @Path("/{id}/copy/")
    @GeneratedMethod ("Job Templates_job_templates_copy_list")
    public void jobTemplatesJobTemplatesCopyList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Job Template
     *
     *  Make a POST request to this resource with the following job template fields to create a new job template:          * `name`: Name of this job template. (string, required) * `description`: Optional description of this job template. (string, default=`\"\"`) * `job_type`:  (choice)     - `run`: Run (default)     - `check`: Check * `inventory`:  (id, default=``) * `project`:  (id, default=``) * `playbook`:  (string, default=`\"\"`) * `scm_branch`: Branch to use in job run. Project default used if blank. Only allowed if project allow_override field is set to true. (string, default=`\"\"`) * `forks`:  (integer, default=`0`) * `limit`:  (string, default=`\"\"`) * `verbosity`:  (choice)     - `0`: 0 (Normal) (default)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `extra_vars`:  (json, default=``) * `job_tags`:  (string, default=`\"\"`) * `force_handlers`:  (boolean, default=`False`) * `skip_tags`:  (string, default=`\"\"`) * `start_at_task`:  (string, default=`\"\"`) * `timeout`: The amount of time (in seconds) to run before the task is canceled. (integer, default=`0`) * `use_fact_cache`: If enabled, the service will act as an Ansible Fact Cache Plugin; persisting facts at the end of a playbook run to the database and caching facts for use by Ansible. (boolean, default=`False`)      * `execution_environment`: The container image to be used for execution. (id, default=``) * `host_config_key`:  (string, default=`\"\"`) * `ask_scm_branch_on_launch`:  (boolean, default=`False`) * `ask_diff_mode_on_launch`:  (boolean, default=`False`) * `ask_variables_on_launch`:  (boolean, default=`False`) * `ask_limit_on_launch`:  (boolean, default=`False`) * `ask_tags_on_launch`:  (boolean, default=`False`) * `ask_skip_tags_on_launch`:  (boolean, default=`False`) * `ask_job_type_on_launch`:  (boolean, default=`False`) * `ask_verbosity_on_launch`:  (boolean, default=`False`) * `ask_inventory_on_launch`:  (boolean, default=`False`) * `ask_credential_on_launch`:  (boolean, default=`False`) * `ask_execution_environment_on_launch`:  (boolean, default=`False`) * `ask_labels_on_launch`:  (boolean, default=`False`) * `ask_forks_on_launch`:  (boolean, default=`False`) * `ask_job_slice_count_on_launch`:  (boolean, default=`False`) * `ask_timeout_on_launch`:  (boolean, default=`False`) * `ask_instance_groups_on_launch`:  (boolean, default=`False`) * `survey_enabled`:  (boolean, default=`False`) * `become_enabled`:  (boolean, default=`False`) * `diff_mode`: If enabled, textual changes made to any templated files on the host are shown in the standard output (boolean, default=`False`) * `allow_simultaneous`:  (boolean, default=`False`)  * `job_slice_count`: The number of jobs to slice into at runtime. Will cause the Job Template to launch a workflow if value is greater than 1. (integer, default=`1`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `prevent_instance_group_fallback`: If enabled, the job template will prevent adding any inventory or organization instance groups to the list of preferred instances groups to run on.If this setting is enabled and you provided an empty list, the global instance groups will be applied. (boolean, default=`False`)
     *
     */
    @POST
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_create")
    public void jobTemplatesJobTemplatesCreate(
        JobTemplatesJobTemplatesCreateRequest data
    );

    /**
     *  Create a Credential for a Job Template
     *
     *  Make a POST request to this resource with the following credential fields to create a new credential associated with this job template.          * `name`: Name of this credential. (string, required) * `description`: Optional description of this credential. (string, default=`\"\"`) * `organization`:  (id, default=`None`) * `credential_type`: Specify the type of credential you want to create. Refer to the documentation for details on each type. (id, required)  * `inputs`: Enter inputs using either JSON or YAML syntax. Refer to the documentation for example syntax. (json, default=`{}`)            # Add Credentials for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing credential with this job template.  # Remove Credentials from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the credential from this job template  without deleting the credential.
     *
     */
    @POST
    @Path("/{id}/credentials/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_credentials_create")
    public void jobTemplatesJobTemplatesCredentialsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        CredentialTypesCredentialTypesCredentialsCreateRequest data
    );

    /**
     *  List Credentials for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of credentials associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of credentials found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more credential records.    ## Results  Each credential data structure includes the following fields:  * `id`: Database ID for this credential. (integer) * `type`: Data type for this credential. (choice) * `url`: URL for this credential. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this credential was created. (datetime) * `modified`: Timestamp when this credential was last modified. (datetime) * `name`: Name of this credential. (string) * `description`: Optional description of this credential. (string) * `organization`:  (id) * `credential_type`: Specify the type of credential you want to create. Refer to the documentation for details on each type. (id) * `managed`:  (boolean) * `inputs`: Enter inputs using either JSON or YAML syntax. Refer to the documentation for example syntax. (json) * `kind`:  (field) * `cloud`:  (field) * `kubernetes`:  (field)    ## Sorting  To specify that credentials are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/credentials/")
    @GeneratedMethod ("Job Templates_job_templates_credentials_list")
    public void jobTemplatesJobTemplatesCredentialsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Delete a Job Template
     *
     *  Make a DELETE request to this resource to delete this job template.
     *
     */
    @DELETE
    @Path("/{id}/")
    @GeneratedMethod ("Job Templates_job_templates_delete")
    public void jobTemplatesJobTemplatesDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    @POST
    @Path("/{id}/github/")
    @GeneratedMethod ("Job Templates_job_templates_github_create")
    public void jobTemplatesJobTemplatesGithubCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    @POST
    @Path("/{id}/gitlab/")
    @GeneratedMethod ("Job Templates_job_templates_gitlab_create")
    public void jobTemplatesJobTemplatesGitlabCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    /**
     *  Create an Instance Group for a Job Template
     *
     *  Make a POST request to this resource with the following instance group fields to create a new instance group associated with this job template.       * `name`: Name of this instance group. (string, required)       * `max_concurrent_jobs`: Maximum number of concurrent jobs to run on a group. When set to zero, no maximum is enforced. (integer, default=`0`) * `max_forks`: Maximum number of forks to execute concurrently on a group. When set to zero, no maximum is enforced. (integer, default=`0`)   * `is_container_group`: Indicates whether instances in this group are containerized.Containerized groups have a designated Openshift or Kubernetes cluster. (boolean, default=``) * `credential`:  (id, default=``) * `policy_instance_percentage`: Minimum percentage of all instances that will be automatically assigned to this group when new instances come online. (integer, default=`0`) * `policy_instance_minimum`: Static minimum number of Instances that will be automatically assign to this group when new instances come online. (integer, default=`0`) * `policy_instance_list`: List of exact-match Instances that will be assigned to this group (json, default=``) * `pod_spec_override`:  (string, default=`\"\"`)          # Add Instance Groups for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing instance group with this job template.  # Remove Instance Groups from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the instance group from this job template  without deleting the instance group.
     *
     */
    @POST
    @Path("/{id}/instance_groups/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_instance_groups_create")
    public void jobTemplatesJobTemplatesInstanceGroupsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        Object data
    );

    /**
     *  List Instance Groups for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of instance groups associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of instance groups found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more instance group records.    ## Results  Each instance group data structure includes the following fields:  * `id`: Database ID for this instance group. (integer) * `type`: Data type for this instance group. (choice) * `url`: URL for this instance group. (string) * `related`: Data structure with URLs of related resources. (object) * `name`: Name of this instance group. (string) * `created`: Timestamp when this instance group was created. (datetime) * `modified`: Timestamp when this instance group was last modified. (datetime) * `capacity`:  (field) * `consumed_capacity`:  (field) * `percent_capacity_remaining`:  (field) * `jobs_running`:  (field) * `max_concurrent_jobs`: Maximum number of concurrent jobs to run on a group. When set to zero, no maximum is enforced. (integer) * `max_forks`: Maximum number of forks to execute concurrently on a group. When set to zero, no maximum is enforced. (integer) * `jobs_total`: Count of all jobs that target this instance group (integer) * `instances`:  (field) * `is_container_group`: Indicates whether instances in this group are containerized.Containerized groups have a designated Openshift or Kubernetes cluster. (boolean) * `credential`:  (id) * `policy_instance_percentage`: Minimum percentage of all instances that will be automatically assigned to this group when new instances come online. (integer) * `policy_instance_minimum`: Static minimum number of Instances that will be automatically assign to this group when new instances come online. (integer) * `policy_instance_list`: List of exact-match Instances that will be assigned to this group (json) * `pod_spec_override`:  (string) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object)    ## Sorting  To specify that instance groups are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/instance_groups/")
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_instance_groups_list")
    public void jobTemplatesJobTemplatesInstanceGroupsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Jobs for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of jobs associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of jobs found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more job records.    ## Results  Each job data structure includes the following fields:  * `id`: Database ID for this job. (integer) * `type`: Data type for this job. (choice) * `url`: URL for this job. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this job was created. (datetime) * `modified`: Timestamp when this job was last modified. (datetime) * `name`: Name of this job. (string) * `description`: Optional description of this job. (string) * `unified_job_template`:  (id) * `launch_type`:  (choice)     - `manual`: Manual     - `relaunch`: Relaunch     - `callback`: Callback     - `scheduled`: Scheduled     - `dependency`: Dependency     - `workflow`: Workflow     - `webhook`: Webhook     - `sync`: Sync     - `scm`: SCM Update * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled * `execution_environment`: The container image to be used for execution. (id) * `failed`:  (boolean) * `started`: The date and time the job was queued for starting. (datetime) * `finished`: The date and time the job finished execution. (datetime) * `canceled_on`: The date and time when the cancel request was sent. (datetime) * `elapsed`: Elapsed time in seconds that the job ran. (decimal) * `job_explanation`: A status field to indicate the state of the job if it wasn&#x27;t able to run and capture stdout (string) * `execution_node`: The node the job executed on. (string) * `controller_node`: The instance that managed the execution environment. (string) * `launched_by`:  (field) * `work_unit_id`: The Receptor work unit ID associated with this job. (string) * `job_type`:  (choice)     - `run`: Run     - `check`: Check     - `scan`: Scan * `inventory`:  (id) * `project`:  (id) * `playbook`:  (string) * `scm_branch`: Branch to use in job run. Project default used if blank. Only allowed if project allow_override field is set to true. (string) * `forks`:  (integer) * `limit`:  (string) * `verbosity`:  (choice)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `extra_vars`:  (json) * `job_tags`:  (string) * `force_handlers`:  (boolean) * `skip_tags`:  (string) * `start_at_task`:  (string) * `timeout`: The amount of time (in seconds) to run before the task is canceled. (integer) * `use_fact_cache`: If enabled, the service will act as an Ansible Fact Cache Plugin; persisting facts at the end of a playbook run to the database and caching facts for use by Ansible. (boolean) * `organization`: The organization used to determine access to this unified job. (id) * `job_template`:  (id) * `passwords_needed_to_start`:  (field) * `allow_simultaneous`:  (boolean) * `artifacts`:  (json) * `scm_revision`: The SCM Revision from the Project used for this job, if available (string) * `instance_group`: The Instance group the job was run under (id) * `diff_mode`: If enabled, textual changes made to any templated files on the host are shown in the standard output (boolean) * `job_slice_number`: If part of a sliced job, the ID of the inventory slice operated on. If not part of sliced job, parameter is not used. (integer) * `job_slice_count`: If ran as part of sliced jobs, the total number of slices. If 1, job is not part of a sliced job. (integer) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `webhook_guid`: Unique identifier of the event that triggered this webhook (string)    ## Sorting  To specify that jobs are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/jobs/")
    @GeneratedMethod ("Job Templates_job_templates_jobs_list")
    public void jobTemplatesJobTemplatesJobsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Label for a Job Template
     *
     *  Make a POST request to this resource with the following label fields to create a new label associated with this job template.          * `name`: Name of this label. (string, required) * `organization`: Organization this label belongs to. (id, required)         # Add Labels for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing label with this job template.  # Remove Labels from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the label from this job template .     Labels not associated with any other resources are deleted. A label can become disassociated with a resource as a result of 3 events.  1. A label is explicitly disassociated with a related job template 2. A job is deleted with labels 3. A cleanup job deletes a job with labels
     *
     */
    @POST
    @Path("/{id}/labels/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_labels_create")
    public void jobTemplatesJobTemplatesLabelsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventoriesInventoriesLabelsCreateRequest data
    );

    /**
     *  List Labels for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of labels associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of labels found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more label records.    ## Results  Each label data structure includes the following fields:  * `id`: Database ID for this label. (integer) * `type`: Data type for this label. (choice) * `url`: URL for this label. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this label was created. (datetime) * `modified`: Timestamp when this label was last modified. (datetime) * `name`: Name of this label. (string) * `organization`: Organization this label belongs to. (id)    ## Sorting  To specify that labels are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/labels/")
    @GeneratedMethod ("Job Templates_job_templates_labels_list")
    public void jobTemplatesJobTemplatesLabelsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * Launch a Job Template
     *
     *  Make a POST request to this resource to launch the job_template. If any passwords, inventory, or extra variables (extra_vars) are required, they must be passed via POST data, with extra_vars given as a YAML or JSON string and escaped parentheses. If the `inventory_needed_to_start` is `True` then the `inventory` is required.  If successful, the response status code will be 201.  If any required passwords are not provided, a 400 status code will be returned.  If the job cannot be launched, a 405 status code will be returned. If the provided credential or inventory are not allowed to be used by the user, then a 403 status code will be returned.
     *
     */
    @POST
    @Path("/{id}/launch/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_launch_create")
    public void jobTemplatesJobTemplatesLaunchCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        Object data
    );

    /**
     * Launch a Job Template
     *
     *  Make a GET request to this resource to determine if the job_template can be launched and whether any passwords are required to launch the job_template. The response will include the following fields:  * `ask_variables_on_launch`: Flag indicating whether the job_template is   configured to prompt for variables upon launch (boolean, read-only) * `ask_tags_on_launch`: Flag indicating whether the job_template is   configured to prompt for tags upon launch (boolean, read-only) * `ask_skip_tags_on_launch`: Flag indicating whether the job_template is   configured to prompt for skip_tags upon launch (boolean, read-only) * `ask_job_type_on_launch`: Flag indicating whether the job_template is   configured to prompt for job_type upon launch (boolean, read-only) * `ask_limit_on_launch`: Flag indicating whether the job_template is   configured to prompt for limit upon launch (boolean, read-only) * `ask_inventory_on_launch`: Flag indicating whether the job_template is   configured to prompt for inventory upon launch (boolean, read-only) * `ask_credential_on_launch`: Flag indicating whether the job_template is   configured to prompt for credential upon launch (boolean, read-only) * `can_start_without_user_input`: Flag indicating if the job_template can be   launched without user-input (boolean, read-only) * `passwords_needed_to_start`: Password names required to launch the   job_template (array, read-only) * `variables_needed_to_start`: Required variable names required to launch the   job_template (array, read-only) * `survey_enabled`: Flag indicating whether the job_template has an enabled   survey (boolean, read-only) * `inventory_needed_to_start`: Flag indicating the presence of an inventory   associated with the job template.  If not then one should be supplied when   launching the job (boolean, read-only)
     *
     */
    @GET
    @Path("/{id}/launch/")
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_launch_read")
    public void jobTemplatesJobTemplatesLaunchRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Job Templates
     *
     *  Make a GET request to this resource to retrieve the list of job templates.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of job templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more job template records.    ## Results  Each job template data structure includes the following fields:  * `id`: Database ID for this job template. (integer) * `type`: Data type for this job template. (choice) * `url`: URL for this job template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this job template was created. (datetime) * `modified`: Timestamp when this job template was last modified. (datetime) * `name`: Name of this job template. (string) * `description`: Optional description of this job template. (string) * `job_type`:  (choice)     - `run`: Run     - `check`: Check * `inventory`:  (id) * `project`:  (id) * `playbook`:  (string) * `scm_branch`: Branch to use in job run. Project default used if blank. Only allowed if project allow_override field is set to true. (string) * `forks`:  (integer) * `limit`:  (string) * `verbosity`:  (choice)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `extra_vars`:  (json) * `job_tags`:  (string) * `force_handlers`:  (boolean) * `skip_tags`:  (string) * `start_at_task`:  (string) * `timeout`: The amount of time (in seconds) to run before the task is canceled. (integer) * `use_fact_cache`: If enabled, the service will act as an Ansible Fact Cache Plugin; persisting facts at the end of a playbook run to the database and caching facts for use by Ansible. (boolean) * `organization`: The organization used to determine access to this template. (id) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated * `execution_environment`: The container image to be used for execution. (id) * `host_config_key`:  (string) * `ask_scm_branch_on_launch`:  (boolean) * `ask_diff_mode_on_launch`:  (boolean) * `ask_variables_on_launch`:  (boolean) * `ask_limit_on_launch`:  (boolean) * `ask_tags_on_launch`:  (boolean) * `ask_skip_tags_on_launch`:  (boolean) * `ask_job_type_on_launch`:  (boolean) * `ask_verbosity_on_launch`:  (boolean) * `ask_inventory_on_launch`:  (boolean) * `ask_credential_on_launch`:  (boolean) * `ask_execution_environment_on_launch`:  (boolean) * `ask_labels_on_launch`:  (boolean) * `ask_forks_on_launch`:  (boolean) * `ask_job_slice_count_on_launch`:  (boolean) * `ask_timeout_on_launch`:  (boolean) * `ask_instance_groups_on_launch`:  (boolean) * `survey_enabled`:  (boolean) * `become_enabled`:  (boolean) * `diff_mode`: If enabled, textual changes made to any templated files on the host are shown in the standard output (boolean) * `allow_simultaneous`:  (boolean) * `custom_virtualenv`: Local absolute file path containing a custom Python virtualenv to use (string) * `job_slice_count`: The number of jobs to slice into at runtime. Will cause the Job Template to launch a workflow if value is greater than 1. (integer) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `prevent_instance_group_fallback`: If enabled, the job template will prevent adding any inventory or organization instance groups to the list of preferred instances groups to run on.If this setting is enabled and you provided an empty list, the global instance groups will be applied. (boolean)    ## Sorting  To specify that job templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @GeneratedMethod ("Job Templates_job_templates_list")
    public void jobTemplatesJobTemplatesList(
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this job template.  # Remove Notification Templates from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_error/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_error_create")
    public void jobTemplatesJobTemplatesNotificationTemplatesErrorCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_error/")
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_error_list")
    public void jobTemplatesJobTemplatesNotificationTemplatesErrorList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this job template.  # Remove Notification Templates from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_started/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_started_create")
    public void jobTemplatesJobTemplatesNotificationTemplatesStartedCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_started/")
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_started_list")
    public void jobTemplatesJobTemplatesNotificationTemplatesStartedList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this job template.  # Remove Notification Templates from this Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_success/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_success_create")
    public void jobTemplatesJobTemplatesNotificationTemplatesSuccessCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_success/")
    @GeneratedMethod ("Job Templates_job_templates_notification_templates_success_list")
    public void jobTemplatesJobTemplatesNotificationTemplatesSuccessList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Roles for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of roles associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of roles found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more role records.    ## Results  Each role data structure includes the following fields:  * `id`: Database ID for this role. (integer) * `type`: Data type for this role. (choice) * `url`: URL for this role. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `name`: Name of this role. (field) * `description`: Optional description of this role. (field)    ## Sorting  To specify that roles are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/object_roles/")
    @GeneratedMethod ("Job Templates_job_templates_object_roles_list")
    public void jobTemplatesJobTemplatesObjectRolesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update a Job Template
     *
     *  Make a PUT or PATCH request to this resource to update this job template.  The following fields may be modified:          * `name`: Name of this job template. (string, required) * `description`: Optional description of this job template. (string, default=`\"\"`) * `job_type`:  (choice)     - `run`: Run (default)     - `check`: Check * `inventory`:  (id, default=``) * `project`:  (id, default=``) * `playbook`:  (string, default=`\"\"`) * `scm_branch`: Branch to use in job run. Project default used if blank. Only allowed if project allow_override field is set to true. (string, default=`\"\"`) * `forks`:  (integer, default=`0`) * `limit`:  (string, default=`\"\"`) * `verbosity`:  (choice)     - `0`: 0 (Normal) (default)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `extra_vars`:  (json, default=``) * `job_tags`:  (string, default=`\"\"`) * `force_handlers`:  (boolean, default=`False`) * `skip_tags`:  (string, default=`\"\"`) * `start_at_task`:  (string, default=`\"\"`) * `timeout`: The amount of time (in seconds) to run before the task is canceled. (integer, default=`0`) * `use_fact_cache`: If enabled, the service will act as an Ansible Fact Cache Plugin; persisting facts at the end of a playbook run to the database and caching facts for use by Ansible. (boolean, default=`False`)      * `execution_environment`: The container image to be used for execution. (id, default=``) * `host_config_key`:  (string, default=`\"\"`) * `ask_scm_branch_on_launch`:  (boolean, default=`False`) * `ask_diff_mode_on_launch`:  (boolean, default=`False`) * `ask_variables_on_launch`:  (boolean, default=`False`) * `ask_limit_on_launch`:  (boolean, default=`False`) * `ask_tags_on_launch`:  (boolean, default=`False`) * `ask_skip_tags_on_launch`:  (boolean, default=`False`) * `ask_job_type_on_launch`:  (boolean, default=`False`) * `ask_verbosity_on_launch`:  (boolean, default=`False`) * `ask_inventory_on_launch`:  (boolean, default=`False`) * `ask_credential_on_launch`:  (boolean, default=`False`) * `ask_execution_environment_on_launch`:  (boolean, default=`False`) * `ask_labels_on_launch`:  (boolean, default=`False`) * `ask_forks_on_launch`:  (boolean, default=`False`) * `ask_job_slice_count_on_launch`:  (boolean, default=`False`) * `ask_timeout_on_launch`:  (boolean, default=`False`) * `ask_instance_groups_on_launch`:  (boolean, default=`False`) * `survey_enabled`:  (boolean, default=`False`) * `become_enabled`:  (boolean, default=`False`) * `diff_mode`: If enabled, textual changes made to any templated files on the host are shown in the standard output (boolean, default=`False`) * `allow_simultaneous`:  (boolean, default=`False`)  * `job_slice_count`: The number of jobs to slice into at runtime. Will cause the Job Template to launch a workflow if value is greater than 1. (integer, default=`1`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `prevent_instance_group_fallback`: If enabled, the job template will prevent adding any inventory or organization instance groups to the list of preferred instances groups to run on.If this setting is enabled and you provided an empty list, the global instance groups will be applied. (boolean, default=`False`)         For a PATCH request, include only the fields that are being modified.
     *
     */
    @PATCH
    @Path("/{id}/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_partial_update")
    public void jobTemplatesJobTemplatesPartialUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        Object data
    );

    /**
     *  Retrieve a Job Template
     *
     *  Make GET request to this resource to retrieve a single job template record containing the following fields:  * `id`: Database ID for this job template. (integer) * `type`: Data type for this job template. (choice) * `url`: URL for this job template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this job template was created. (datetime) * `modified`: Timestamp when this job template was last modified. (datetime) * `name`: Name of this job template. (string) * `description`: Optional description of this job template. (string) * `job_type`:  (choice)     - `run`: Run     - `check`: Check * `inventory`:  (id) * `project`:  (id) * `playbook`:  (string) * `scm_branch`: Branch to use in job run. Project default used if blank. Only allowed if project allow_override field is set to true. (string) * `forks`:  (integer) * `limit`:  (string) * `verbosity`:  (choice)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `extra_vars`:  (json) * `job_tags`:  (string) * `force_handlers`:  (boolean) * `skip_tags`:  (string) * `start_at_task`:  (string) * `timeout`: The amount of time (in seconds) to run before the task is canceled. (integer) * `use_fact_cache`: If enabled, the service will act as an Ansible Fact Cache Plugin; persisting facts at the end of a playbook run to the database and caching facts for use by Ansible. (boolean) * `organization`: The organization used to determine access to this template. (id) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated * `execution_environment`: The container image to be used for execution. (id) * `host_config_key`:  (string) * `ask_scm_branch_on_launch`:  (boolean) * `ask_diff_mode_on_launch`:  (boolean) * `ask_variables_on_launch`:  (boolean) * `ask_limit_on_launch`:  (boolean) * `ask_tags_on_launch`:  (boolean) * `ask_skip_tags_on_launch`:  (boolean) * `ask_job_type_on_launch`:  (boolean) * `ask_verbosity_on_launch`:  (boolean) * `ask_inventory_on_launch`:  (boolean) * `ask_credential_on_launch`:  (boolean) * `ask_execution_environment_on_launch`:  (boolean) * `ask_labels_on_launch`:  (boolean) * `ask_forks_on_launch`:  (boolean) * `ask_job_slice_count_on_launch`:  (boolean) * `ask_timeout_on_launch`:  (boolean) * `ask_instance_groups_on_launch`:  (boolean) * `survey_enabled`:  (boolean) * `become_enabled`:  (boolean) * `diff_mode`: If enabled, textual changes made to any templated files on the host are shown in the standard output (boolean) * `allow_simultaneous`:  (boolean) * `custom_virtualenv`: Local absolute file path containing a custom Python virtualenv to use (string) * `job_slice_count`: The number of jobs to slice into at runtime. Will cause the Job Template to launch a workflow if value is greater than 1. (integer) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `prevent_instance_group_fallback`: If enabled, the job template will prevent adding any inventory or organization instance groups to the list of preferred instances groups to run on.If this setting is enabled and you provided an empty list, the global instance groups will be applied. (boolean)
     *
     */
    @GET
    @Path("/{id}/")
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_read")
    public void jobTemplatesJobTemplatesRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Schedule for a Job Template
     *
     *  Make a POST request to this resource with the following schedule fields to create a new schedule associated with this job template.   * `rrule`: A value representing the schedules iCal recurrence rule. (string, required)        * `name`: Name of this schedule. (string, required) * `description`: Optional description of this schedule. (string, default=`\"\"`) * `extra_data`:  (json, default=`{}`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `scm_branch`:  (string, default=`\"\"`) * `job_type`:  (choice)     - `None`: --------- (default)     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string, default=`\"\"`) * `skip_tags`:  (string, default=`\"\"`) * `limit`:  (string, default=`\"\"`) * `diff_mode`:  (boolean, default=`None`) * `verbosity`:  (choice)     - `None`: --------- (default)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id, default=``) * `forks`:  (integer, default=`None`) * `job_slice_count`:  (integer, default=`None`) * `timeout`:  (integer, default=`None`)  * `enabled`: Enables processing of this schedule. (boolean, default=`True`)            POST requests to this resource must include a proper `rrule` value following a particular format and conforming to subset of allowed rules.  The following lists the expected format and details of our rrules:  * DTSTART is required and must follow the following format: DTSTART:YYYYMMDDTHHMMSSZ * DTSTART is expected to be in UTC * INTERVAL is required * SECONDLY is not supported * RRULE must precede the rule statements * BYDAY is supported but not BYDAY with a numerical prefix * BYYEARDAY and BYWEEKNO are not supported * Only one rrule statement per schedule is supported * COUNT must be < 1000  Here are some example rrules:      \"DTSTART:20500331T055000Z RRULE:FREQ=MINUTELY;INTERVAL=10;COUNT=5\"     \"DTSTART:20240331T075000Z RRULE:FREQ=DAILY;INTERVAL=1;COUNT=1\"     \"DTSTART:20140331T075000Z RRULE:FREQ=MINUTELY;INTERVAL=1;UNTIL=20230401T075000Z\"     \"DTSTART:20140331T075000Z RRULE:FREQ=WEEKLY;INTERVAL=1;BYDAY=MO,WE,FR\"     \"DTSTART:20140331T075000Z RRULE:FREQ=WEEKLY;INTERVAL=5;BYDAY=MO\"     \"DTSTART:20140331T075000Z RRULE:FREQ=MONTHLY;INTERVAL=1;BYMONTHDAY=6\"     \"DTSTART:20140331T075000Z RRULE:FREQ=MONTHLY;INTERVAL=1;BYSETPOS=4;BYDAY=SU\"     \"DTSTART:20140331T075000Z RRULE:FREQ=MONTHLY;INTERVAL=1;BYSETPOS=-1;BYDAY=MO,TU,WE,TH,FR\"     \"DTSTART:20140331T075000Z RRULE:FREQ=MONTHLY;INTERVAL=1;BYSETPOS=-1;BYDAY=MO,TU,WE,TH,FR,SA,SU\"     \"DTSTART:20140331T075000Z RRULE:FREQ=YEARLY;INTERVAL=1;BYMONTH=4;BYMONTHDAY=1\"     \"DTSTART:20140331T075000Z RRULE:FREQ=YEARLY;INTERVAL=1;BYSETPOS=-1;BYMONTH=8;BYDAY=SU\"     \"DTSTART:20140331T075000Z RRULE:FREQ=WEEKLY;INTERVAL=1;UNTIL=20230401T075000Z;BYDAY=MO,WE,FR\"     \"DTSTART:20140331T075000Z RRULE:FREQ=HOURLY;INTERVAL=1;UNTIL=20230610T075000Z\"
     *
     */
    @POST
    @Path("/{id}/schedules/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_schedules_create")
    public void jobTemplatesJobTemplatesSchedulesCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesSchedulesCreateRequest data
    );

    /**
     *  List Schedules for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of schedules associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of schedules found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more schedule records.    ## Results  Each schedule data structure includes the following fields:  * `rrule`: A value representing the schedules iCal recurrence rule. (string) * `id`: Database ID for this schedule. (integer) * `type`: Data type for this schedule. (choice) * `url`: URL for this schedule. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this schedule was created. (datetime) * `modified`: Timestamp when this schedule was last modified. (datetime) * `name`: Name of this schedule. (string) * `description`: Optional description of this schedule. (string) * `extra_data`:  (json) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `scm_branch`:  (string) * `job_type`:  (choice)     - `None`: ---------     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string) * `skip_tags`:  (string) * `limit`:  (string) * `diff_mode`:  (boolean) * `verbosity`:  (choice)     - `None`: ---------     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id) * `forks`:  (integer) * `job_slice_count`:  (integer) * `timeout`:  (integer) * `unified_job_template`:  (id) * `enabled`: Enables processing of this schedule. (boolean) * `dtstart`: The first occurrence of the schedule occurs on or after this time. (datetime) * `dtend`: The last occurrence of the schedule occurs before this time, aftewards the schedule expires. (datetime) * `next_run`: The next time that the scheduled action will run. (datetime) * `timezone`: The timezone this schedule runs in. This field is extracted from the RRULE. If the timezone in the RRULE is a link to another timezone, the link will be reflected in this field. (field) * `until`: The date this schedule will end. This field is computed from the RRULE. If the schedule does not end an empty string will be returned (field)    ## Sorting  To specify that schedules are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/schedules/")
    @GeneratedMethod ("Job Templates_job_templates_schedules_list")
    public void jobTemplatesJobTemplatesSchedulesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Workflow Job for a Job Template
     *
     *  Make a POST request to this resource with the following workflow job fields to create a new workflow job associated with this job template.          * `name`: Name of this workflow job. (string, required) * `description`: Optional description of this workflow job. (string, default=`\"\"`)            * `workflow_job_template`:  (id, default=``) * `extra_vars`:  (json, default=``) * `allow_simultaneous`:  (boolean, default=`False`)  * `is_sliced_job`:  (boolean, default=`False`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `limit`:  (string, default=`\"\"`) * `scm_branch`:  (string, default=`\"\"`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `webhook_guid`: Unique identifier of the event that triggered this webhook (string, default=`\"\"`) * `skip_tags`:  (string, default=`\"\"`) * `job_tags`:  (string, default=`\"\"`)
     *
     */
    @POST
    @Path("/{id}/slice_workflow_jobs/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_slice_workflow_jobs_create")
    public void jobTemplatesJobTemplatesSliceWorkflowJobsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        JobTemplatesJobTemplatesSliceWorkflowJobsCreateRequest data
    );

    /**
     *  List Workflow Jobs for a Job Template
     *
     *  Make a GET request to this resource to retrieve a list of workflow jobs associated with the selected job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of workflow jobs found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more workflow job records.    ## Results  Each workflow job data structure includes the following fields:  * `id`: Database ID for this workflow job. (integer) * `type`: Data type for this workflow job. (choice) * `url`: URL for this workflow job. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow job was created. (datetime) * `modified`: Timestamp when this workflow job was last modified. (datetime) * `name`: Name of this workflow job. (string) * `description`: Optional description of this workflow job. (string) * `unified_job_template`:  (id) * `launch_type`:  (choice)     - `manual`: Manual     - `relaunch`: Relaunch     - `callback`: Callback     - `scheduled`: Scheduled     - `dependency`: Dependency     - `workflow`: Workflow     - `webhook`: Webhook     - `sync`: Sync     - `scm`: SCM Update * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled * `failed`:  (boolean) * `started`: The date and time the job was queued for starting. (datetime) * `finished`: The date and time the job finished execution. (datetime) * `canceled_on`: The date and time when the cancel request was sent. (datetime) * `elapsed`: Elapsed time in seconds that the job ran. (decimal) * `job_explanation`: A status field to indicate the state of the job if it wasn&#x27;t able to run and capture stdout (string) * `launched_by`:  (field) * `work_unit_id`: The Receptor work unit ID associated with this job. (string) * `workflow_job_template`:  (id) * `extra_vars`:  (json) * `allow_simultaneous`:  (boolean) * `job_template`: If automatically created for a sliced job run, the job template the workflow job was created from. (id) * `is_sliced_job`:  (boolean) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `limit`:  (string) * `scm_branch`:  (string) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `webhook_guid`: Unique identifier of the event that triggered this webhook (string) * `skip_tags`:  (string) * `job_tags`:  (string)    ## Sorting  To specify that workflow jobs are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/slice_workflow_jobs/")
    @GeneratedMethod ("Job Templates_job_templates_slice_workflow_jobs_list")
    public void jobTemplatesJobTemplatesSliceWorkflowJobsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * POST requests to this resource should include the full specification for a Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": \"\",          \"required\": true,          \"default\": \"NOT OPTIONAL\"             },             {          \"type\": \"multiplechoice\",          \"question_name\": \"achoice\",          \"question_description\": \"Need one of these\",          \"variable\": \"single_choice\",          \"choices\": [\"one\", \"two\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\"             },             {          \"type\": \"multiselect\",          \"question_name\": \"mchoice\",          \"question_description\": \"Can have multiples of these\",          \"variable\": \"multi_choice\",          \"choices\": [\"one\", \"two\", \"three\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\\nthree\"             },             {                 \"type\": \"integer\",                 \"question_name\": \"integerchoice\",                 \"question_description\": \"I need an int here\",                 \"variable\": \"int_answer\",                 \"choices\": \"\",                 \"min\": 1,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             },             {                 \"type\": \"float\",                 \"question_name\": \"float\",                 \"question_description\": \"I need a float here\",                 \"variable\": \"float_answer\",                 \"choices\": \"\",                 \"min\": 2,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             }         ]     }
     *
     */
    @POST
    @Path("/{id}/survey_spec/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Job Templates_job_templates_survey_spec_create")
    public void jobTemplatesJobTemplatesSurveySpecCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        Object data
    );

    /**
     * POST requests to this resource should include the full specification for a Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": \"\",          \"required\": true,          \"default\": \"NOT OPTIONAL\"             },             {          \"type\": \"multiplechoice\",          \"question_name\": \"achoice\",          \"question_description\": \"Need one of these\",          \"variable\": \"single_choice\",          \"choices\": [\"one\", \"two\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\"             },             {          \"type\": \"multiselect\",          \"question_name\": \"mchoice\",          \"question_description\": \"Can have multiples of these\",          \"variable\": \"multi_choice\",          \"choices\": [\"one\", \"two\", \"three\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\\nthree\"             },             {                 \"type\": \"integer\",                 \"question_name\": \"integerchoice\",                 \"question_description\": \"I need an int here\",                 \"variable\": \"int_answer\",                 \"choices\": \"\",                 \"min\": 1,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             },             {                 \"type\": \"float\",                 \"question_name\": \"float\",                 \"question_description\": \"I need a float here\",                 \"variable\": \"float_answer\",                 \"choices\": \"\",                 \"min\": 2,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             }         ]     }
     *
     */
    @DELETE
    @Path("/{id}/survey_spec/")
    @GeneratedMethod ("Job Templates_job_templates_survey_spec_delete")
    public void jobTemplatesJobTemplatesSurveySpecDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * POST requests to this resource should include the full specification for a Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",       
[...]
