package org.openapi.quarkus.swagger_json.api;

import org.openapi.quarkus.swagger_json.model.WorkflowApprovalTemplatesWorkflowApprovalTemplatesPartialUpdateRequest;
import org.openapi.quarkus.swagger_json.model.WorkflowApprovalTemplatesWorkflowApprovalTemplatesUpdateRequest;

import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider; 
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.openapi.quarkus.swagger_json.api.auth.CompositeAuthenticationProvider;
import org.openapi.quarkus.swagger_json.api.auth.AuthenticationPropagationHeadersFactory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

import jakarta.enterprise.context.ApplicationScoped;

import io.quarkiverse.openapi.generator.annotations.GeneratedClass;
import io.quarkiverse.openapi.generator.annotations.GeneratedMethod;
import io.quarkiverse.openapi.generator.annotations.GeneratedParam;

/**
  * Ansible Automation Platform controller API
  * <p/>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
  */
@Path("/api/v2/workflow_approval_templates/{id}")
@RegisterRestClient(baseUri="https://null/", configKey="swagger_json")
@GeneratedClass(value="swagger.json", tag = "WorkflowApprovalTemplates")
@RegisterProvider(CompositeAuthenticationProvider.class)
@RegisterClientHeaders(AuthenticationPropagationHeadersFactory.class)
@ApplicationScoped
public interface WorkflowApprovalTemplatesApi {

    /**
     *  List Workflow Approvals for a Workflow Approval Template
     *
     *  Make a GET request to this resource to retrieve a list of workflow approvals associated with the selected workflow approval template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of workflow approvals found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more workflow approval records.    ## Results  Each workflow approval data structure includes the following fields:  * `id`: Database ID for this workflow approval. (integer) * `type`: Data type for this workflow approval. (choice) * `url`: URL for this workflow approval. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow approval was created. (datetime) * `modified`: Timestamp when this workflow approval was last modified. (datetime) * `name`: Name of this workflow approval. (string) * `description`: Optional description of this workflow approval. (string) * `unified_job_template`:  (id) * `launch_type`:  (choice)     - `manual`: Manual     - `relaunch`: Relaunch     - `callback`: Callback     - `scheduled`: Scheduled     - `dependency`: Dependency     - `workflow`: Workflow     - `webhook`: Webhook     - `sync`: Sync     - `scm`: SCM Update * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled * `execution_environment`: The container image to be used for execution. (id) * `failed`:  (boolean) * `started`: The date and time the job was queued for starting. (datetime) * `finished`: The date and time the job finished execution. (datetime) * `canceled_on`: The date and time when the cancel request was sent. (datetime) * `elapsed`: Elapsed time in seconds that the job ran. (decimal) * `job_explanation`: A status field to indicate the state of the job if it wasn&#x27;t able to run and capture stdout (string) * `launched_by`:  (field) * `work_unit_id`: The Receptor work unit ID associated with this job. (string) * `can_approve_or_deny`:  (field) * `approval_expiration`:  (field) * `timed_out`:  (boolean)    ## Sorting  To specify that workflow approvals are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/approvals/")
    @GeneratedMethod ("Workflow Approval Templates_workflow_approval_templates_approvals_list")
    public void workflowApprovalTemplatesWorkflowApprovalTemplatesApprovalsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Delete a Workflow Approval Template
     *
     *  Make a DELETE request to this resource to delete this workflow approval template.
     *
     */
    @DELETE
    @GeneratedMethod ("Workflow Approval Templates_workflow_approval_templates_delete")
    public void workflowApprovalTemplatesWorkflowApprovalTemplatesDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update a Workflow Approval Template
     *
     *  Make a PUT or PATCH request to this resource to update this workflow approval template.  The following fields may be modified:          * `name`: Name of this workflow approval template. (string, required) * `description`: Optional description of this workflow approval template. (string, default=`\"\"`)     * `execution_environment`: The container image to be used for execution. (id, default=``) * `timeout`: The amount of time (in seconds) before the approval node expires and fails. (integer, default=`0`)         For a PATCH request, include only the fields that are being modified.
     *
     */
    @PATCH
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Approval Templates_workflow_approval_templates_partial_update")
    public void workflowApprovalTemplatesWorkflowApprovalTemplatesPartialUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        WorkflowApprovalTemplatesWorkflowApprovalTemplatesPartialUpdateRequest data
    );

    /**
     *  Retrieve a Workflow Approval Template
     *
     *  Make GET request to this resource to retrieve a single workflow approval template record containing the following fields:  * `id`: Database ID for this workflow approval template. (integer) * `type`: Data type for this workflow approval template. (choice) * `url`: URL for this workflow approval template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow approval template was created. (datetime) * `modified`: Timestamp when this workflow approval template was last modified. (datetime) * `name`: Name of this workflow approval template. (string) * `description`: Optional description of this workflow approval template. (string) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated     - `ok`: OK     - `missing`: Missing     - `none`: No External Source     - `updating`: Updating * `execution_environment`: The container image to be used for execution. (id) * `timeout`: The amount of time (in seconds) before the approval node expires and fails. (integer)
     *
     */
    @GET
    @GeneratedMethod ("Workflow Approval Templates_workflow_approval_templates_read")
    public void workflowApprovalTemplatesWorkflowApprovalTemplatesRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update a Workflow Approval Template
     *
     *  Make a PUT or PATCH request to this resource to update this workflow approval template.  The following fields may be modified:          * `name`: Name of this workflow approval template. (string, required) * `description`: Optional description of this workflow approval template. (string, default=`\"\"`)     * `execution_environment`: The container image to be used for execution. (id, default=``) * `timeout`: The amount of time (in seconds) before the approval node expires and fails. (integer, default=`0`)       For a PUT request, include **all** fields in the request.
     *
     */
    @PUT
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Approval Templates_workflow_approval_templates_update")
    public void workflowApprovalTemplatesWorkflowApprovalTemplatesUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        WorkflowApprovalTemplatesWorkflowApprovalTemplatesUpdateRequest data
    );

}
