package org.openapi.quarkus.swagger_json.api;

import org.openapi.quarkus.swagger_json.model.CredentialsCredentialsCopyCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventoriesInventoriesLabelsCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest;
import org.openapi.quarkus.swagger_json.model.InventorySourcesInventorySourcesSchedulesCreateRequest;
import org.openapi.quarkus.swagger_json.model.OrganizationsOrganizationsWorkflowJobTemplatesCreateRequest;
import org.openapi.quarkus.swagger_json.model.WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest;
import org.openapi.quarkus.swagger_json.model.WorkflowJobTemplatesWorkflowJobTemplatesPartialUpdateRequest;

import org.eclipse.microprofile.rest.client.inject.RegisterRestClient;
import org.eclipse.microprofile.rest.client.annotation.RegisterProvider; 
import org.eclipse.microprofile.rest.client.annotation.RegisterClientHeaders;
import org.openapi.quarkus.swagger_json.api.auth.CompositeAuthenticationProvider;
import org.openapi.quarkus.swagger_json.api.auth.AuthenticationPropagationHeadersFactory;

import java.io.InputStream;
import java.io.OutputStream;
import java.util.List;
import java.util.Map;
import jakarta.ws.rs.*;
import jakarta.ws.rs.core.MediaType;

import jakarta.enterprise.context.ApplicationScoped;

import io.quarkiverse.openapi.generator.annotations.GeneratedClass;
import io.quarkiverse.openapi.generator.annotations.GeneratedMethod;
import io.quarkiverse.openapi.generator.annotations.GeneratedParam;

/**
  * Ansible Automation Platform controller API
  * <p/>No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)
  */
@Path("/api/v2/workflow_job_templates")
@RegisterRestClient(baseUri="https://null/", configKey="swagger_json")
@GeneratedClass(value="swagger.json", tag = "WorkflowJobTemplates")
@RegisterProvider(CompositeAuthenticationProvider.class)
@RegisterClientHeaders(AuthenticationPropagationHeadersFactory.class)
@ApplicationScoped
public interface WorkflowJobTemplatesApi {

    /**
     *  List Users
     *
     *  Make a GET request to this resource to retrieve the list of users.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of users found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more user records.    ## Results  Each user data structure includes the following fields:  * `id`: Database ID for this user. (integer) * `type`: Data type for this user. (choice) * `url`: URL for this user. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this user was created. (datetime) * `modified`: Timestamp when this user was last modified. (datetime) * `username`: Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only. (string) * `first_name`:  (string) * `last_name`:  (string) * `email`:  (string) * `is_superuser`: Designates that this user has all permissions without explicitly assigning them. (boolean) * `is_system_auditor`:  (boolean) * `password`: Field used to change the password. (string) * `ldap_dn`:  (string) * `last_login`:  (datetime) * `external_account`: Set if the account is managed by an external service (field)    ## Sorting  To specify that users are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=username  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-username  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=username,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/access_list/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_access_list_list")
    public void workflowJobTemplatesWorkflowJobTemplatesAccessListList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Activity Streams for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of activity streams associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of activity streams found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more activity stream records.    ## Results  Each activity stream data structure includes the following fields:  * `id`: Database ID for this activity stream. (integer) * `type`: Data type for this activity stream. (choice) * `url`: URL for this activity stream. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `timestamp`:  (datetime) * `operation`: The action taken with respect to the given object(s). (choice)     - `create`: Entity Created     - `update`: Entity Updated     - `delete`: Entity Deleted     - `associate`: Entity Associated with another Entity     - `disassociate`: Entity was Disassociated with another Entity * `changes`: A summary of the new and changed values when an object is created, updated, or deleted (json) * `object1`: For create, update, and delete events this is the object type that was affected. For associate and disassociate events this is the object type associated or disassociated with object2. (string) * `object2`: Unpopulated for create, update, and delete events. For associate and disassociate events this is the object type that object1 is being associated with. (string) * `object_association`: When present, shows the field name of the role or relationship that changed. (field) * `action_node`: The cluster node the activity took place on. (string) * `object_type`: When present, shows the model on which the role or relationship was defined. (field)    ## Sorting  To specify that activity streams are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/activity_stream/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_activity_stream_list")
    public void workflowJobTemplatesWorkflowJobTemplatesActivityStreamList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * Copy a Workflow Job Template
     *
     *  Make a GET request to this resource to determine if the current user has permission to copy the workflow job template and whether any linked templates or prompted fields will be ignored due to permissions problems. The response will include the following fields:  * `can_copy`: Flag indicating whether the active user has permission to make   a copy of this workflow job template, provides same content as the   workflow job template detail view summary_fields.user_capabilities.copy   (boolean, read-only) * `can_copy_without_user_input`: Flag indicating if the user should be   prompted for confirmation before the copy is executed (boolean, read-only) * `templates_unable_to_copy`: List of node ids of nodes that have a related   job template, project, or inventory that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only) * `inventories_unable_to_copy`: List of node ids of nodes that have a related   prompted inventory that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only) * `credentials_unable_to_copy`: List of node ids of nodes that have a related   prompted credential that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only)  Make a POST request to this endpoint to save a copy of this workflow job template. No POST data is accepted for this action.  If successful, the response status code will be 201. The response body will contain serialized data about the new workflow job template, which will be similar to the original workflow job template, but with an additional `@` and a timestamp in the name.  All workflow nodes and connections in the original will also exist in the copy. The nodes will be missing related resources if the user did not have access to use them.
     *
     */
    @POST
    @Path("/{id}/copy/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_copy_create")
    public void workflowJobTemplatesWorkflowJobTemplatesCopyCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        CredentialsCredentialsCopyCreateRequest data
    );

    /**
     * Copy a Workflow Job Template
     *
     *  Make a GET request to this resource to determine if the current user has permission to copy the workflow job template and whether any linked templates or prompted fields will be ignored due to permissions problems. The response will include the following fields:  * `can_copy`: Flag indicating whether the active user has permission to make   a copy of this workflow job template, provides same content as the   workflow job template detail view summary_fields.user_capabilities.copy   (boolean, read-only) * `can_copy_without_user_input`: Flag indicating if the user should be   prompted for confirmation before the copy is executed (boolean, read-only) * `templates_unable_to_copy`: List of node ids of nodes that have a related   job template, project, or inventory that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only) * `inventories_unable_to_copy`: List of node ids of nodes that have a related   prompted inventory that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only) * `credentials_unable_to_copy`: List of node ids of nodes that have a related   prompted credential that the current user lacks permission   to use and will be missing in workflow nodes of the copy (array, read-only)  Make a POST request to this endpoint to save a copy of this workflow job template. No POST data is accepted for this action.  If successful, the response status code will be 201. The response body will contain serialized data about the new workflow job template, which will be similar to the original workflow job template, but with an additional `@` and a timestamp in the name.  All workflow nodes and connections in the original will also exist in the copy. The nodes will be missing related resources if the user did not have access to use them.
     *
     */
    @GET
    @Path("/{id}/copy/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_copy_list")
    public void workflowJobTemplatesWorkflowJobTemplatesCopyList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Workflow Job Template
     *
     *  Make a POST request to this resource with the following workflow job template fields to create a new workflow job template:          * `name`: Name of this workflow job template. (string, required) * `description`: Optional description of this workflow job template. (string, default=`\"\"`)     * `extra_vars`:  (json, default=``) * `organization`: The organization used to determine access to this template. (id, default=``) * `survey_enabled`:  (boolean, default=`False`) * `allow_simultaneous`:  (boolean, default=`False`) * `ask_variables_on_launch`:  (boolean, default=`False`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `limit`:  (string, default=`\"\"`) * `scm_branch`:  (string, default=`\"\"`) * `ask_inventory_on_launch`:  (boolean, default=`False`) * `ask_scm_branch_on_launch`:  (boolean, default=`False`) * `ask_limit_on_launch`:  (boolean, default=`False`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `ask_labels_on_launch`:  (boolean, default=`False`) * `ask_skip_tags_on_launch`:  (boolean, default=`False`) * `ask_tags_on_launch`:  (boolean, default=`False`) * `skip_tags`:  (string, default=`\"\"`) * `job_tags`:  (string, default=`\"\"`)
     *
     */
    @POST
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_create")
    public void workflowJobTemplatesWorkflowJobTemplatesCreate(
        OrganizationsOrganizationsWorkflowJobTemplatesCreateRequest data
    );

    /**
     *  Delete a Workflow Job Template
     *
     *  Make a DELETE request to this resource to delete this workflow job template.
     *
     */
    @DELETE
    @Path("/{id}/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_delete")
    public void workflowJobTemplatesWorkflowJobTemplatesDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    @POST
    @Path("/{id}/github/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_github_create")
    public void workflowJobTemplatesWorkflowJobTemplatesGithubCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    @POST
    @Path("/{id}/gitlab/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_gitlab_create")
    public void workflowJobTemplatesWorkflowJobTemplatesGitlabCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    /**
     *  Create a Label for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following label fields to create a new label associated with this workflow job template.          * `name`: Name of this label. (string, required) * `organization`: Organization this label belongs to. (id, required)         # Add Labels for a Workflow Job Template:  Make a POST request to this resource with only an `id` field to associate an existing label with this workflow job template.  # Remove Labels from this Workflow Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the label from this workflow job template .     Labels not associated with any other resources are deleted. A label can become disassociated with a resource as a result of 3 events.  1. A label is explicitly disassociated with a related job template 2. A job is deleted with labels 3. A cleanup job deletes a job with labels
     *
     */
    @POST
    @Path("/{id}/labels/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_labels_create")
    public void workflowJobTemplatesWorkflowJobTemplatesLabelsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventoriesInventoriesLabelsCreateRequest data
    );

    /**
     *  List Labels for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of labels associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of labels found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more label records.    ## Results  Each label data structure includes the following fields:  * `id`: Database ID for this label. (integer) * `type`: Data type for this label. (choice) * `url`: URL for this label. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this label was created. (datetime) * `modified`: Timestamp when this label was last modified. (datetime) * `name`: Name of this label. (string) * `organization`: Organization this label belongs to. (id)    ## Sorting  To specify that labels are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/labels/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_labels_list")
    public void workflowJobTemplatesWorkflowJobTemplatesLabelsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * Launch a Workflow Job Template
     *
     *  Make a GET request to this resource to determine if the workflow_job_template can be launched and whether any passwords are required to launch the workflow_job_template. The response will include the following fields:  * `can_start_without_user_input`: Flag indicating if the workflow_job_template   can be launched without user-input (boolean, read-only) * `variables_needed_to_start`: Required variable names required to launch the   workflow_job_template (array, read-only) * `survey_enabled`: Flag indicating whether the workflow_job_template has an   enabled survey (boolean, read-only) * `extra_vars`: Text which is the `extra_vars` field of this workflow_job_template   (text, read-only) * `node_templates_missing`: List of node ids of all nodes that have a   null `unified_job_template`, which will cause their branches to stop   execution (list, read-only) * `node_prompts_rejected`: List of node ids of all nodes that have   specified a field that will be rejected because its  `unified_job_template`   does not allow prompting for this field, this will not halt execution of   the branch but the field will be ignored (list, read-only) * `workflow_job_template_data`: JSON object listing general information of   this workflow_job_template (JSON object, read-only)  Make a POST request to this resource to launch the workflow_job_template. If any credential, inventory, project or extra variables (extra_vars) are required, they must be passed via POST data, with extra_vars given as a YAML or JSON string and escaped parentheses.  If successful, the response status code will be 201.  If any required passwords are not provided, a 400 status code will be returned.  If the workflow job cannot be launched, a 405 status code will be returned. If the provided credential or inventory are not allowed to be used by the user, then a 403 status code will be returned.
     *
     */
    @POST
    @Path("/{id}/launch/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_launch_create")
    public void workflowJobTemplatesWorkflowJobTemplatesLaunchCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        WorkflowJobTemplatesWorkflowJobTemplatesLaunchCreateRequest data
    );

    /**
     * Launch a Workflow Job Template
     *
     *  Make a GET request to this resource to determine if the workflow_job_template can be launched and whether any passwords are required to launch the workflow_job_template. The response will include the following fields:  * `can_start_without_user_input`: Flag indicating if the workflow_job_template   can be launched without user-input (boolean, read-only) * `variables_needed_to_start`: Required variable names required to launch the   workflow_job_template (array, read-only) * `survey_enabled`: Flag indicating whether the workflow_job_template has an   enabled survey (boolean, read-only) * `extra_vars`: Text which is the `extra_vars` field of this workflow_job_template   (text, read-only) * `node_templates_missing`: List of node ids of all nodes that have a   null `unified_job_template`, which will cause their branches to stop   execution (list, read-only) * `node_prompts_rejected`: List of node ids of all nodes that have   specified a field that will be rejected because its  `unified_job_template`   does not allow prompting for this field, this will not halt execution of   the branch but the field will be ignored (list, read-only) * `workflow_job_template_data`: JSON object listing general information of   this workflow_job_template (JSON object, read-only)  Make a POST request to this resource to launch the workflow_job_template. If any credential, inventory, project or extra variables (extra_vars) are required, they must be passed via POST data, with extra_vars given as a YAML or JSON string and escaped parentheses.  If successful, the response status code will be 201.  If any required passwords are not provided, a 400 status code will be returned.  If the workflow job cannot be launched, a 405 status code will be returned. If the provided credential or inventory are not allowed to be used by the user, then a 403 status code will be returned.
     *
     */
    @GET
    @Path("/{id}/launch/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_launch_read")
    public void workflowJobTemplatesWorkflowJobTemplatesLaunchRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Workflow Job Templates
     *
     *  Make a GET request to this resource to retrieve the list of workflow job templates.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of workflow job templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more workflow job template records.    ## Results  Each workflow job template data structure includes the following fields:  * `id`: Database ID for this workflow job template. (integer) * `type`: Data type for this workflow job template. (choice) * `url`: URL for this workflow job template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow job template was created. (datetime) * `modified`: Timestamp when this workflow job template was last modified. (datetime) * `name`: Name of this workflow job template. (string) * `description`: Optional description of this workflow job template. (string) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated     - `ok`: OK     - `missing`: Missing     - `none`: No External Source     - `updating`: Updating * `extra_vars`:  (json) * `organization`: The organization used to determine access to this template. (id) * `survey_enabled`:  (boolean) * `allow_simultaneous`:  (boolean) * `ask_variables_on_launch`:  (boolean) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `limit`:  (string) * `scm_branch`:  (string) * `ask_inventory_on_launch`:  (boolean) * `ask_scm_branch_on_launch`:  (boolean) * `ask_limit_on_launch`:  (boolean) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `ask_labels_on_launch`:  (boolean) * `ask_skip_tags_on_launch`:  (boolean) * `ask_tags_on_launch`:  (boolean) * `skip_tags`:  (string) * `job_tags`:  (string)    ## Sorting  To specify that workflow job templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_list")
    public void workflowJobTemplatesWorkflowJobTemplatesList(
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this workflow job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Workflow Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this workflow job template.  # Remove Notification Templates from this Workflow Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this workflow job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_approvals/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_approvals_create")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_approvals/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_approvals_list")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesApprovalsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this workflow job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Workflow Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this workflow job template.  # Remove Notification Templates from this Workflow Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this workflow job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_error/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_error_create")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_error/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_error_list")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesErrorList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this workflow job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Workflow Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this workflow job template.  # Remove Notification Templates from this Workflow Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this workflow job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_started/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_started_create")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_started/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_started_list")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesStartedList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Notification Template for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following notification template fields to create a new notification template associated with this workflow job template.          * `name`: Name of this notification template. (string, required) * `description`: Optional description of this notification template. (string, default=`\"\"`) * `organization`:  (id, required) * `notification_type`:  (choice, required)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json, default=`{}`) * `messages`: Optional custom messages for notification template. (json, default=`{&#x27;started&#x27;: None, &#x27;success&#x27;: None, &#x27;error&#x27;: None, &#x27;workflow_approval&#x27;: None}`)         # Add Notification Templates for a Workflow Job Template:  Make a POST request to this resource with only an `id` field to associate an existing notification template with this workflow job template.  # Remove Notification Templates from this Workflow Job Template:  Make a POST request to this resource with `id` and `disassociate` fields to remove the notification template from this workflow job template  without deleting the notification template.
     *
     */
    @POST
    @Path("/{id}/notification_templates_success/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_success_create")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesSuccessCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesNotificationTemplatesErrorCreateRequest data
    );

    /**
     *  List Notification Templates for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of notification templates associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of notification templates found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more notification template records.    ## Results  Each notification template data structure includes the following fields:  * `id`: Database ID for this notification template. (integer) * `type`: Data type for this notification template. (choice) * `url`: URL for this notification template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this notification template was created. (datetime) * `modified`: Timestamp when this notification template was last modified. (datetime) * `name`: Name of this notification template. (string) * `description`: Optional description of this notification template. (string) * `organization`:  (id) * `notification_type`:  (choice)     - `email`: Email     - `grafana`: Grafana     - `irc`: IRC     - `mattermost`: Mattermost     - `pagerduty`: Pagerduty     - `rocketchat`: Rocket.Chat     - `slack`: Slack     - `twilio`: Twilio     - `webhook`: Webhook * `notification_configuration`:  (json) * `messages`: Optional custom messages for notification template. (json)    ## Sorting  To specify that notification templates are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/notification_templates_success/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_notification_templates_success_list")
    public void workflowJobTemplatesWorkflowJobTemplatesNotificationTemplatesSuccessList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Roles for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of roles associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of roles found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more role records.    ## Results  Each role data structure includes the following fields:  * `id`: Database ID for this role. (integer) * `type`: Data type for this role. (choice) * `url`: URL for this role. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `name`: Name of this role. (field) * `description`: Optional description of this role. (field)    ## Sorting  To specify that roles are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/object_roles/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_object_roles_list")
    public void workflowJobTemplatesWorkflowJobTemplatesObjectRolesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update a Workflow Job Template
     *
     *  Make a PUT or PATCH request to this resource to update this workflow job template.  The following fields may be modified:          * `name`: Name of this workflow job template. (string, required) * `description`: Optional description of this workflow job template. (string, default=`\"\"`)     * `extra_vars`:  (json, default=``) * `organization`: The organization used to determine access to this template. (id, default=``) * `survey_enabled`:  (boolean, default=`False`) * `allow_simultaneous`:  (boolean, default=`False`) * `ask_variables_on_launch`:  (boolean, default=`False`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `limit`:  (string, default=`\"\"`) * `scm_branch`:  (string, default=`\"\"`) * `ask_inventory_on_launch`:  (boolean, default=`False`) * `ask_scm_branch_on_launch`:  (boolean, default=`False`) * `ask_limit_on_launch`:  (boolean, default=`False`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `ask_labels_on_launch`:  (boolean, default=`False`) * `ask_skip_tags_on_launch`:  (boolean, default=`False`) * `ask_tags_on_launch`:  (boolean, default=`False`) * `skip_tags`:  (string, default=`\"\"`) * `job_tags`:  (string, default=`\"\"`)         For a PATCH request, include only the fields that are being modified.
     *
     */
    @PATCH
    @Path("/{id}/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_partial_update")
    public void workflowJobTemplatesWorkflowJobTemplatesPartialUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        WorkflowJobTemplatesWorkflowJobTemplatesPartialUpdateRequest data
    );

    /**
     *  Retrieve a Workflow Job Template
     *
     *  Make GET request to this resource to retrieve a single workflow job template record containing the following fields:  * `id`: Database ID for this workflow job template. (integer) * `type`: Data type for this workflow job template. (choice) * `url`: URL for this workflow job template. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow job template was created. (datetime) * `modified`: Timestamp when this workflow job template was last modified. (datetime) * `name`: Name of this workflow job template. (string) * `description`: Optional description of this workflow job template. (string) * `last_job_run`:  (datetime) * `last_job_failed`:  (boolean) * `next_job_run`:  (datetime) * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled     - `never updated`: Never Updated     - `ok`: OK     - `missing`: Missing     - `none`: No External Source     - `updating`: Updating * `extra_vars`:  (json) * `organization`: The organization used to determine access to this template. (id) * `survey_enabled`:  (boolean) * `allow_simultaneous`:  (boolean) * `ask_variables_on_launch`:  (boolean) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `limit`:  (string) * `scm_branch`:  (string) * `ask_inventory_on_launch`:  (boolean) * `ask_scm_branch_on_launch`:  (boolean) * `ask_limit_on_launch`:  (boolean) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `ask_labels_on_launch`:  (boolean) * `ask_skip_tags_on_launch`:  (boolean) * `ask_tags_on_launch`:  (boolean) * `skip_tags`:  (string) * `job_tags`:  (string)
     *
     */
    @GET
    @Path("/{id}/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_read")
    public void workflowJobTemplatesWorkflowJobTemplatesRead(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Create a Schedule for a Workflow Job Template
     *
     *  Make a POST request to this resource with the following schedule fields to create a new schedule associated with this workflow job template.   * `rrule`: A value representing the schedules iCal recurrence rule. (string, required)        * `name`: Name of this schedule. (string, required) * `description`: Optional description of this schedule. (string, default=`\"\"`) * `extra_data`:  (json, default=`{}`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `scm_branch`:  (string, default=`\"\"`) * `job_type`:  (choice)     - `None`: --------- (default)     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string, default=`\"\"`) * `skip_tags`:  (string, default=`\"\"`) * `limit`:  (string, default=`\"\"`) * `diff_mode`:  (boolean, default=`None`) * `verbosity`:  (choice)     - `None`: --------- (default)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id, default=``) * `forks`:  (integer, default=`None`) * `job_slice_count`:  (integer, default=`None`) * `timeout`:  (integer, default=`None`)  * `enabled`: Enables processing of this schedule. (boolean, default=`True`)
     *
     */
    @POST
    @Path("/{id}/schedules/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_schedules_create")
    public void workflowJobTemplatesWorkflowJobTemplatesSchedulesCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        InventorySourcesInventorySourcesSchedulesCreateRequest data
    );

    /**
     *  List Schedules for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of schedules associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of schedules found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more schedule records.    ## Results  Each schedule data structure includes the following fields:  * `rrule`: A value representing the schedules iCal recurrence rule. (string) * `id`: Database ID for this schedule. (integer) * `type`: Data type for this schedule. (choice) * `url`: URL for this schedule. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this schedule was created. (datetime) * `modified`: Timestamp when this schedule was last modified. (datetime) * `name`: Name of this schedule. (string) * `description`: Optional description of this schedule. (string) * `extra_data`:  (json) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `scm_branch`:  (string) * `job_type`:  (choice)     - `None`: ---------     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string) * `skip_tags`:  (string) * `limit`:  (string) * `diff_mode`:  (boolean) * `verbosity`:  (choice)     - `None`: ---------     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id) * `forks`:  (integer) * `job_slice_count`:  (integer) * `timeout`:  (integer) * `unified_job_template`:  (id) * `enabled`: Enables processing of this schedule. (boolean) * `dtstart`: The first occurrence of the schedule occurs on or after this time. (datetime) * `dtend`: The last occurrence of the schedule occurs before this time, aftewards the schedule expires. (datetime) * `next_run`: The next time that the scheduled action will run. (datetime) * `timezone`: The timezone this schedule runs in. This field is extracted from the RRULE. If the timezone in the RRULE is a link to another timezone, the link will be reflected in this field. (field) * `until`: The date this schedule will end. This field is computed from the RRULE. If the schedule does not end an empty string will be returned (field)    ## Sorting  To specify that schedules are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/schedules/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_schedules_list")
    public void workflowJobTemplatesWorkflowJobTemplatesSchedulesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * POST requests to this resource should include the full specification for a Workflow Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the workflow job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": \"\",          \"required\": true,          \"default\": \"NOT OPTIONAL\"             },             {          \"type\": \"multiplechoice\",          \"question_name\": \"achoice\",          \"question_description\": \"Need one of these\",          \"variable\": \"single_choice\",          \"choices\": [\"one\", \"two\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\"             },             {          \"type\": \"multiselect\",          \"question_name\": \"mchoice\",          \"question_description\": \"Can have multiples of these\",          \"variable\": \"multi_choice\",          \"choices\": [\"one\", \"two\", \"three\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\\nthree\"             },             {                 \"type\": \"integer\",                 \"question_name\": \"integerchoice\",                 \"question_description\": \"I need an int here\",                 \"variable\": \"int_answer\",                 \"choices\": \"\",                 \"min\": 1,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             },             {                 \"type\": \"float\",                 \"question_name\": \"float\",                 \"question_description\": \"I need a float here\",                 \"variable\": \"float_answer\",                 \"choices\": \"\",                 \"min\": 2,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             }         ]     }
     *
     */
    @POST
    @Path("/{id}/survey_spec/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_survey_spec_create")
    public void workflowJobTemplatesWorkflowJobTemplatesSurveySpecCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        Object data
    );

    /**
     * POST requests to this resource should include the full specification for a Workflow Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the workflow job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": \"\",          \"required\": true,          \"default\": \"NOT OPTIONAL\"             },             {          \"type\": \"multiplechoice\",          \"question_name\": \"achoice\",          \"question_description\": \"Need one of these\",          \"variable\": \"single_choice\",          \"choices\": [\"one\", \"two\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\"             },             {          \"type\": \"multiselect\",          \"question_name\": \"mchoice\",          \"question_description\": \"Can have multiples of these\",          \"variable\": \"multi_choice\",          \"choices\": [\"one\", \"two\", \"three\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\\nthree\"             },             {                 \"type\": \"integer\",                 \"question_name\": \"integerchoice\",                 \"question_description\": \"I need an int here\",                 \"variable\": \"int_answer\",                 \"choices\": \"\",                 \"min\": 1,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             },             {                 \"type\": \"float\",                 \"question_name\": \"float\",                 \"question_description\": \"I need a float here\",                 \"variable\": \"float_answer\",                 \"choices\": \"\",                 \"min\": 2,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             }         ]     }
     *
     */
    @DELETE
    @Path("/{id}/survey_spec/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_survey_spec_delete")
    public void workflowJobTemplatesWorkflowJobTemplatesSurveySpecDelete(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     * POST requests to this resource should include the full specification for a Workflow Job Template's Survey
     *
     *  Here is an example survey specification:      {         \"name\": \"Simple Survey\",         \"description\": \"Description of the simple survey\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"example question\",          \"question_description\": \"What is your favorite color?\",          \"variable\": \"favorite_color\",          \"required\": false,          \"default\": \"blue\"             }         ]     }  `name` and `description` are required elements at the beginning of the survey specification. `spec` must be a list of survey items.  Within each survey item `type` must be one of:  * text: For survey questions expecting a textual answer * password: For survey questions expecting a password or other sensitive information * integer: For survey questions expecting a whole number answer * float: For survey questions expecting a decimal number * multiplechoice: For survey questions where one option from a list is required * multiselect: For survey questions where multiple items from a presented list can be selected  Each item must contain a `question_name` and `question_description` field that describes the survey question itself. The `variable` elements of each survey items represents the key that will be given to the playbook when the workflow job template is launched.  It will contain the value as a result of the survey.  Here is a more comprehensive example showing the various question types and their acceptable parameters:      {         \"name\": \"Simple\",         \"description\": \"Description\",         \"spec\": [             {          \"type\": \"text\",          \"question_name\": \"cantbeshort\",          \"question_description\": \"What is a long answer\",          \"variable\": \"long_answer\",          \"choices\": \"\",          \"min\": 5,          \"max\": \"\",          \"required\": false,          \"default\": \"Leeloo Minai Lekarariba-Laminai-Tchai Ekbat De Sebat\"             },             {          \"type\": \"text\",          \"question_name\": \"cantbelong\",          \"question_description\": \"What is a short answer\",          \"variable\": \"short_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": 7,          \"required\": false,          \"default\": \"leeloo\"             },             {          \"type\": \"text\",          \"question_name\": \"reqd\",          \"question_description\": \"I should be required\",          \"variable\": \"reqd_answer\",          \"choices\": \"\",          \"min\": \"\",          \"max\": \"\",          \"required\": true,          \"default\": \"NOT OPTIONAL\"             },             {          \"type\": \"multiplechoice\",          \"question_name\": \"achoice\",          \"question_description\": \"Need one of these\",          \"variable\": \"single_choice\",          \"choices\": [\"one\", \"two\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\"             },             {          \"type\": \"multiselect\",          \"question_name\": \"mchoice\",          \"question_description\": \"Can have multiples of these\",          \"variable\": \"multi_choice\",          \"choices\": [\"one\", \"two\", \"three\"],          \"min\": \"\",          \"max\": \"\",          \"required\": false,          \"default\": \"one\\nthree\"             },             {                 \"type\": \"integer\",                 \"question_name\": \"integerchoice\",                 \"question_description\": \"I need an int here\",                 \"variable\": \"int_answer\",                 \"choices\": \"\",                 \"min\": 1,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             },             {                 \"type\": \"float\",                 \"question_name\": \"float\",                 \"question_description\": \"I need a float here\",                 \"variable\": \"float_answer\",                 \"choices\": \"\",                 \"min\": 2,                 \"max\": 5,                 \"required\": false,                 \"default\": \"\"             }         ]     }
     *
     */
    @GET
    @Path("/{id}/survey_spec/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_survey_spec_list")
    public void workflowJobTemplatesWorkflowJobTemplatesSurveySpecList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Update a Workflow Job Template
     *
     *  Make a PUT or PATCH request to this resource to update this workflow job template.  The following fields may be modified:          * `name`: Name of this workflow job template. (string, required) * `description`: Optional description of this workflow job template. (string, default=`\"\"`)     * `extra_vars`:  (json, default=``) * `organization`: The organization used to determine access to this template. (id, default=``) * `survey_enabled`:  (boolean, default=`False`) * `allow_simultaneous`:  (boolean, default=`False`) * `ask_variables_on_launch`:  (boolean, default=`False`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `limit`:  (string, default=`\"\"`) * `scm_branch`:  (string, default=`\"\"`) * `ask_inventory_on_launch`:  (boolean, default=`False`) * `ask_scm_branch_on_launch`:  (boolean, default=`False`) * `ask_limit_on_launch`:  (boolean, default=`False`) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id, default=``) * `ask_labels_on_launch`:  (boolean, default=`False`) * `ask_skip_tags_on_launch`:  (boolean, default=`False`) * `ask_tags_on_launch`:  (boolean, default=`False`) * `skip_tags`:  (string, default=`\"\"`) * `job_tags`:  (string, default=`\"\"`)       For a PUT request, include **all** fields in the request.
     *
     */
    @PUT
    @Path("/{id}/")
    @Consumes({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_update")
    public void workflowJobTemplatesWorkflowJobTemplatesUpdate(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("search") @QueryParam("search") String search, 
        OrganizationsOrganizationsWorkflowJobTemplatesCreateRequest data
    );

    @POST
    @Path("/{id}/webhook_key/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_webhook_key_create")
    public void workflowJobTemplatesWorkflowJobTemplatesWebhookKeyCreate(
        @GeneratedParam("id") @PathParam("id") String id
    );

    @GET
    @Path("/{id}/webhook_key/")
    @Produces({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_webhook_key_list")
    public void workflowJobTemplatesWorkflowJobTemplatesWebhookKeyList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  List Workflow Jobs for a Workflow Job Template
     *
     *  Make a GET request to this resource to retrieve a list of workflow jobs associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of workflow jobs found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more workflow job records.    ## Results  Each workflow job data structure includes the following fields:  * `id`: Database ID for this workflow job. (integer) * `type`: Data type for this workflow job. (choice) * `url`: URL for this workflow job. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow job was created. (datetime) * `modified`: Timestamp when this workflow job was last modified. (datetime) * `name`: Name of this workflow job. (string) * `description`: Optional description of this workflow job. (string) * `unified_job_template`:  (id) * `launch_type`:  (choice)     - `manual`: Manual     - `relaunch`: Relaunch     - `callback`: Callback     - `scheduled`: Scheduled     - `dependency`: Dependency     - `workflow`: Workflow     - `webhook`: Webhook     - `sync`: Sync     - `scm`: SCM Update * `status`:  (choice)     - `new`: New     - `pending`: Pending     - `waiting`: Waiting     - `running`: Running     - `successful`: Successful     - `failed`: Failed     - `error`: Error     - `canceled`: Canceled * `failed`:  (boolean) * `started`: The date and time the job was queued for starting. (datetime) * `finished`: The date and time the job finished execution. (datetime) * `canceled_on`: The date and time when the cancel request was sent. (datetime) * `elapsed`: Elapsed time in seconds that the job ran. (decimal) * `job_explanation`: A status field to indicate the state of the job if it wasn&#x27;t able to run and capture stdout (string) * `launched_by`:  (field) * `work_unit_id`: The Receptor work unit ID associated with this job. (string) * `workflow_job_template`:  (id) * `extra_vars`:  (json) * `allow_simultaneous`:  (boolean) * `job_template`: If automatically created for a sliced job run, the job template the workflow job was created from. (id) * `is_sliced_job`:  (boolean) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `limit`:  (string) * `scm_branch`:  (string) * `webhook_service`: Service that webhook requests will be accepted from (choice)     - `\"\"`: ---------     - `github`: GitHub     - `gitlab`: GitLab * `webhook_credential`: Personal Access Token for posting back the status to the service API (id) * `webhook_guid`: Unique identifier of the event that triggered this webhook (string) * `skip_tags`:  (string) * `job_tags`:  (string)    ## Sorting  To specify that workflow jobs are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/workflow_jobs/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_workflow_jobs_list")
    public void workflowJobTemplatesWorkflowJobTemplatesWorkflowJobsList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

    /**
     *  Workflow Job Template Workflow Node List
     *
     *  Workflow nodes reference templates to execute and define the ordering in which to execute them. After a job in this workflow finishes, the subsequent actions are to:   - run nodes contained in \"failure_nodes\" or \"always_nodes\" if job failed  - run nodes contained in \"success_nodes\" or \"always_nodes\" if job succeeded  The workflow job is marked as `successful` if all of the jobs running as a part of the workflow job have completed, and the workflow job has not been canceled. Even if a job within the workflow has failed, the workflow job will not be marked as failed.     # Create a Workflow Job Template Node for a Workflow Job Template:  Make a POST request to this resource with the following workflow job template node fields to create a new workflow job template node associated with this workflow job template.          * `extra_data`:  (json, default=`{}`) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id, default=``) * `scm_branch`:  (string, default=`\"\"`) * `job_type`:  (choice)     - `None`: --------- (default)     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string, default=`\"\"`) * `skip_tags`:  (string, default=`\"\"`) * `limit`:  (string, default=`\"\"`) * `diff_mode`:  (boolean, default=`None`) * `verbosity`:  (choice)     - `None`: --------- (default)     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id, default=``) * `forks`:  (integer, default=`None`) * `job_slice_count`:  (integer, default=`None`) * `timeout`:  (integer, default=`None`)  * `unified_job_template`:  (id, default=``)    * `all_parents_must_converge`: If enabled then the node will only run if all of the parent nodes have met the criteria to reach this node (boolean, default=`False`) * `identifier`: An identifier for this node that is unique within its workflow. It is copied to workflow job nodes corresponding to this node. (string, default=`\"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx\"`)
     *
     */
    @POST
    @Path("/{id}/workflow_nodes/")
    @Consumes({"application/json"})
    @Produces({"application/json"})
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_workflow_nodes_create")
    public void workflowJobTemplatesWorkflowJobTemplatesWorkflowNodesCreate(
        @GeneratedParam("id") @PathParam("id") String id, 
        Object data
    );

    /**
     *  Workflow Job Template Workflow Node List
     *
     *  Workflow nodes reference templates to execute and define the ordering in which to execute them. After a job in this workflow finishes, the subsequent actions are to:   - run nodes contained in \"failure_nodes\" or \"always_nodes\" if job failed  - run nodes contained in \"success_nodes\" or \"always_nodes\" if job succeeded  The workflow job is marked as `successful` if all of the jobs running as a part of the workflow job have completed, and the workflow job has not been canceled. Even if a job within the workflow has failed, the workflow job will not be marked as failed.   # List Workflow Job Template Nodes for a Workflow Job Template:  Make a GET request to this resource to retrieve a list of workflow job template nodes associated with the selected workflow job template.  The resulting data structure contains:      {         \"count\": 99,         \"next\": null,         \"previous\": null,         \"results\": [             ...         ]     }  The `count` field indicates the total number of workflow job template nodes found for the given query.  The `next` and `previous` fields provides links to additional results if there are more than will fit on a single page.  The `results` list contains zero or more workflow job template node records.    ## Results  Each workflow job template node data structure includes the following fields:  * `id`: Database ID for this workflow job template node. (integer) * `type`: Data type for this workflow job template node. (choice) * `url`: URL for this workflow job template node. (string) * `related`: Data structure with URLs of related resources. (object) * `summary_fields`: Data structure with name/description for related resources.  The output for some objects may be limited for performance reasons. (object) * `created`: Timestamp when this workflow job template node was created. (datetime) * `modified`: Timestamp when this workflow job template node was last modified. (datetime) * `extra_data`:  (json) * `inventory`: Inventory applied as a prompt, assuming job template prompts for inventory (id) * `scm_branch`:  (string) * `job_type`:  (choice)     - `None`: ---------     - `\"\"`: ---------     - `run`: Run     - `check`: Check * `job_tags`:  (string) * `skip_tags`:  (string) * `limit`:  (string) * `diff_mode`:  (boolean) * `verbosity`:  (choice)     - `None`: ---------     - `0`: 0 (Normal)     - `1`: 1 (Verbose)     - `2`: 2 (More Verbose)     - `3`: 3 (Debug)     - `4`: 4 (Connection Debug)     - `5`: 5 (WinRM Debug) * `execution_environment`: The container image to be used for execution. (id) * `forks`:  (integer) * `job_slice_count`:  (integer) * `timeout`:  (integer) * `workflow_job_template`:  (id) * `unified_job_template`:  (id) * `success_nodes`:  (field) * `failure_nodes`:  (field) * `always_nodes`:  (field) * `all_parents_must_converge`: If enabled then the node will only run if all of the parent nodes have met the criteria to reach this node (boolean) * `identifier`: An identifier for this node that is unique within its workflow. It is copied to workflow job nodes corresponding to this node. (string)    ## Sorting  To specify that workflow job template nodes are returned in a particular order, use the `order_by` query string parameter on the GET request.      ?order_by=name  Prefix the field name with a dash `-` to sort in reverse:      ?order_by=-name  Multiple sorting fields may be specified by separating the field names with a comma `,`:      ?order_by=name,some_other_field  ## Pagination  Use the `page_size` query string parameter to change the number of results returned for each request.  Use the `page` query string parameter to retrieve a particular page of results.      ?page_size=100&page=2  The `previous` and `next` links returned with the results will set these query string parameters automatically.  ## Searching  Use the `search` query string parameter to perform a case-insensitive search within all designated text fields of a model.      ?search=findme  (_Added in Ansible Tower 3.1.0_) Search across related fields:      ?related__search=findme
     *
     */
    @GET
    @Path("/{id}/workflow_nodes/")
    @GeneratedMethod ("Workflow Job Templates_workflow_job_templates_workflow_nodes_list")
    public void workflowJobTemplatesWorkflowJobTemplatesWorkflowNodesList(
        @GeneratedParam("id") @PathParam("id") String id, 
        @GeneratedParam("page") @QueryParam("page") Integer page, 
        @GeneratedParam("page_size") @QueryParam("page_size") Integer pageSize, 
        @GeneratedParam("search") @QueryParam("search") String search
    );

}
